@model PMTRepository.User_Info

    @Html.Partial("_Sidebar")
<td align="center">

    <div>
        <fieldset>
            <legend><b>USER | DETAILS</b></legend>
            <br />
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dob)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dob)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>
        </fieldset>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "all_user")
    </p>
