
@{
    ViewBag.Title = "All Project";
}
@Html.Partial("_Developer")

<td align="center">
    <fieldset>
        <legend>
            <b>ALL PROJECT</b>
        </legend><br />
        <br /><br />
        <table width="100%" cellspacing="0" border="1" cellpadding="5">
            <tr>
                <th align="left">Project Code</th>
                <th align="left">Project Name</th>
                
                <th align="left">STATUS</th>
                <th align="left">Assign To</th>
                <th colspan="5">Actions</th>
            </tr>
       @foreach (var item in ViewBag.projectList)
       {
            <tr>
                <td>@item.ProjectCode</td>
                <td>@item.ProjectName</td>
                
                <td>@item.Status</td>
                <td>
                    @item.AssignTo
                </td>
                
                <td width="30">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
                
            </tr>
       }

        </table><br />
        <a href="Create">Add Project</a>
    </fieldset>
</td>